<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title> node project 1</title>
</head>
<body>

    <main class="container">


        <form method="post">
           <div class="num1"> <label > Num1:-   <input type="text" name="num1" > </label> </div>
            <div class="num2"> <label> Num2:-   <input type="text"  name="num2"> </label> </div>
            <div class="button"> 
                <span>
                    <button type="submit" formaction="/add">Add</button>
                </span>
                <span>
                    <button type="submit" formaction="/sub">Sub</button>
                </span>
            </div>

                <div class="button"> 
                <span>
                    <button type="submit" formaction="/multiply">Multiply</button>
                </span>
                <span>
                    <button type="submit" formaction="/divide">Divide</button>
                </span>
                
            </div>
           


        </form>
    </main>
    
</body>
</html>