.container{

    margin: auto;
    margin-top: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    height: auto;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: steelblue;

}

.num1{

    color: white;
    font-weight: 800;
    margin: auto;

}

.num2{

    color: white;
    font-weight: 800;
    margin: auto;
    margin-top: 20px;
    
}
.button{
    margin: auto;
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
button{

    width: 70px;
    height: 30px;
    border: 1px solid rgb(237, 125, 125);
    border-radius: 5px;
    margin-left: 10px;

}